/*
links for fonts :)
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Serif+Display">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

color palette
bg=#EDEFF2, accent1=#152E52, accent2=#4E617C, text=#151C28
*/

body {
	background-color: #FFFFFF;
	margin: 0px;
	padding-top: 56px;
}

.header {
	text-align: center;
	padding: 48px;
	background:#152E52;
}

h1 {
	text-align: left;
	font-family: "DM Serif Display", Georgia, serif;
	font-size: 48px;
	color: #152E52;
}

h2 {
	text-align: left;
	font-family: "DM Serif Display", Georgia, serif;
	font-size: 28px;
	font-weight: bold;
	color: #152E52;
}

h3 {
	text-align: left;
	font-family: "DM Serif Display", Georgia, serif;
	font-size: 20px;
	color: #151C28;
    /* font-style: italic; */
}

p {
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: 16px;
	color: #151C28;
}

a {
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: 16px;
	color: #152E52;
}

a:hover {
	color: #4E617C;
}

ul {
	padding-left: 20px;
	margin-bottom: 0px;
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: 16px;
	color: #151C28;
	list-style-type: none;
}

video {
	max-width: 100%;
	height: auto;
}

/* <img src="media/" alt=""> */
img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	border-radius: 6px;
}

footer {
	background-color: #EDEFF2;
	width: 100%;
	text-align: center;
}

footer h3 {
	text-decoration: none;
}

footer p {
	text-decoration: none;
}

footer a {
	text-decoration: none;
}

.digiart-img {
	width: 70%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	line-height: 56px;
	width: 100%;
	position: fixed;
	top: 0;
	display: block;
	background-color: #EDEFF2;
	overflow: hidden;
}
.navbar h3 {
	text-decoration: none;
	float: left;
	margin: auto calc(100% - 570px) auto 16px;
}
.navbar a {
	text-decoration: none;
	float: left;
	display: block;
	padding-left: 16px;
	padding-right: 16px;
}
.navbar a.active {
	pointer-events: none;
	font-weight: bolder;
}
.navbar .navbtn {
	display: none;
}

.column {
	float: left;
  }

.row {
	position: relative;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

.left-display {
	width: calc(50% - 16px);
	margin-right: 16px;
}

.right-display {
	width: calc(50% - 16px);
	margin-left: 16px;
}

.text p{
	margin: 0px;
}

.bigbtn {
	background-color: #EDEFF2;
	border-radius: 12px;
}

.bigbtn:hover {
	background-color: #B4BFD0;
	color: #F9F9F9;
}

@media screen and (max-width: 800px) {
/* small screens */
	#main {
		margin: 0 5% 0 5%;
	}
	.header {
		padding: 24px 0px;
	}
	.header h1 {
		font-size: 48px;
		padding: 0px;
	}
	.container {
		padding: 8px 32px 32px 32px;
		border-radius: 12px;
	}
	.left-about {
		width: 100%;
		padding-top: 24px;
	}
	.right-about {
		width: 100%;
	}
	.left-project {
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.right-project {
		width: 100%;
	}
	footer .column {
		width: 100%;
	}
	.navbar a:any-link {
		display: none;
	}
	.navbar a.navbtn {
		display: block;
		position: fixed;
		right: 0;
		top: 0;
		font-size: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar.responsive {
		position: fixed;
	}
	.navbar.responsive h3 {
		float: none;
	}
	.navbar.responsive a {
		line-height: 40px;
		float: none;
		display: block;
		text-align: center;
	}.navbar.responsive a.navbtn {
		line-height: 56px;
	}
}

@media screen and (min-width: 800px) and (max-width: 1080px) {
/* medium screens */
	#main {
		margin: 0 10% 0 10%;
	}
	.container {
		background-color: #EDEFF2;
		padding: 8px 32px 32px 32px;
		border-radius: 12px;
	}
	.header h1 {
		font-size: 64px;
	}
	.left-about {
		width: 200px;
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
	}
	.right-about {
		width: calc(100% - 232px);
		transform: translate(200px,0);
		padding-left: 32px;
	}
	.left-project {
		width: calc(50% - 16px);
		padding-right: 16px;
	}
	.right-project {
		width: calc(50% - 16px);
		padding-left: 16px;
	}
	footer .column {
		width: calc(33%);
	}
}

@media screen and (min-width: 1080px) {
/* large screens */
	#main {
		margin: 0 20% 0 20%;
	}
	.container {
		background-color: #EDEFF2;
		padding: 8px 32px 32px 32px;
		border-radius: 12px;
	}
	.header h1 {
		font-size: 64px;
	}
	.left-about {
		width: 200px;
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
	}
	.right-about {
		width: calc(100% - 232px);
		transform: translate(200px,0);
		padding-left: 32px;
	}
	.left-project {
		width: calc(50% - 16px);
		padding-right: 16px;
	}
	.right-project {
		width: calc(50% - 16px);
		padding-left: 16px;
	}
	footer .column {
		width: calc(33%);
	}
}